<!--
  Generated template for the SoldeRechargePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="background-app">
  <h5>tapez le montant</h5>
  <ion-item [class.active]="focus === 'sumToPay'" (touchend)="setFocus('sumToPay')" padding>
    <!--<ion-label>Password</ion-label>-->
    <ion-input type="number" disabled="true"  placeholder="Montant à payé" [(ngModel)]="sumToPay"></ion-input>
  </ion-item >
  <button ion-button [disabled]="disabledP"  block (click)="nfcTag()">
    Confirm
  </button>


  <ion-digit-keyboard
          [align]="keyboardSettings.align"
          [width]="keyboardSettings.width"
          [visible]="keyboardSettings.visible"
          [leftActionOptions]="keyboardSettings.leftActionOptions"
          [rightActionOptions]="keyboardSettings.rightActionOptions"
          [roundButtons]="keyboardSettings.roundButtons"
          [showLetters]="keyboardSettings.showLetters"
          [swipeToHide]="keyboardSettings.swipeToHide"
          [theme]="keyboardSettings.theme"
  ></ion-digit-keyboard>
</ion-content>