page-login {
    .app-name{
      margin-top: 5%;
    }
  .login-col{
    margin-top: 20%;
  }
    h2{
      margin-right: auto;
      margin-left: auto;
      color: #ffffff;
    }
    .button{
      margin-top: 26px;
      //background-color: #3BC2B0 ;
      background-color: #8FB64A ;
      color: #ffffff;
      height: 7%;

    }
  ion-input{
    border-bottom: solid 1px;
  }
  .background-app {
    //background: linear-gradient(to bottom, #3BC2B0 0%, #64DBCB 50%, #94E0D9 100%) ;
    background: linear-gradient(to bottom, #272530 0%, #545162 50%, #757585 100%) ;
    ion-item{
      background: transparent !important;

    }
    ion-input{
      color: #ffffff;
    }
    img{
      height: 100px;
      border-radius: 50%;
      border: solid #ffffff;
      margin-top: 25%;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
