

<ion-content padding class="background-app">
    <ion-row >
        <img src="assets/letter_C.png">
    </ion-row>
    <ion-row class="app-name">
        <h2>Cashless</h2>
    </ion-row>
    <ion-row >
        <ion-col width-75 class="login-col">
            <ion-input text-center [(ngModel)]="newUser.username"  placeholder="Username" ></ion-input>

        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col width-75>

            <ion-input type="password" text-center [(ngModel)]="newUser.password" placeholder="Password"></ion-input>

        </ion-col>
    </ion-row>

    <button (click)="login()" [disabled]="disable"  ion-button color="primary" block >Login</button>

</ion-content>
