<!--
  Generated template for the NewCartePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="background-app">
  <div style="border-bottom: solid #ffffff 1px " class="row" *ngIf="defineNb">
    <div class="col s6">
      <h2 style="color: red;">Montant Total</h2>
    </div>
    <div  class="col s6">
      <h1 style="color: red; ">{{minSoldeToPay}}</h1>
    </div>
  </div>
  <div class="row" *ngIf="!defineNb">
    <h2>Vous êtes combien?</h2>
    <ion-row [class.active]="focus === 'nbPerso'" (touchend)="setFocus('nbPerso')" padding>
      <!--<ion-label>Password</ion-label>-->
      <ion-input type="number" disabled="true" placeholder="Nombre de personne"
                 [(ngModel)]="nbPerso"></ion-input>
    </ion-row>
    <button ion-button block (click)="createOrder()" >
      Confirm
    </button>
  </div>

  <div *ngIf="defineNb">
    <ion-row [class.active]="focus === 'sumTotale'" (touchend)="setFocus('sumTotale')" >

       <ion-input type="number"  placeholder="Montant à payé"  [(ngModel)]="sumTotale"></ion-input>

    </ion-row>
    <button ion-button block [disabled]="disabledP" (click)="nfcTag()">{{textPayScreen}}</button>

  </div>

  <ion-digit-keyboard
          [align]="keyboardSettings.align"
          [width]="keyboardSettings.width"
          [visible]="keyboardSettings.visible"
          [leftActionOptions]="keyboardSettings.leftActionOptions"
          [rightActionOptions]="keyboardSettings.rightActionOptions"
          [roundButtons]="keyboardSettings.roundButtons"
          [showLetters]="keyboardSettings.showLetters"
          [swipeToHide]="keyboardSettings.swipeToHide"
          [theme]="keyboardSettings.theme"
  ></ion-digit-keyboard>
</ion-content>
