<ion-content class="background-app">
    <div class="row">
        <div class="col s6">
            <img (click)="redirectRecharge()" src="assets/receive_cash_white.png">
        </div>
        <div class="col s6">
            <img (click)="redirectAdd()" src="assets/create_card.png">
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <img (click)="redirectCashout()" src="assets/cashout.png">
        </div>
        <div class="col s6">
            <img (click)="redirectCheck()" src="assets/check-mark-in-white.png">
        </div>
    </div>

</ion-content>
