page-choice {
  .button{
    padding: 10px;
    margin-top: 15px;
  }
  .background-app {
    //background: linear-gradient(to bottom, #3BC2B0 0%, #64DBCB 50%, #94E0D9 100%) ;
    background: linear-gradient(to bottom, #272530 0%, #545162 50%, #757585 100%) ;
    ion-item{
      background: transparent !important;

    }
    ion-input{
      color: #ffffff;
    }
    img{
      height: 150px;
      width: 150px;
      border-radius: 50%;
      border: solid #ffffff;
      margin-top: 50%;
      margin-left: 10%;
    }
  }
}
