page-facture {

  .app-name{
    margin-top: 5%;
  }
  .login-col{
    margin-top: 20%;
  }
  h2{
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
  }
  .button{
    margin-top: 26px;
    //background-color: #3BC2B0 ;
    background-color: #8FB64A ;
    color: #ffffff;

  }

  .background-app {
    //background: linear-gradient(to bottom, #3BC2B0 0%, #64DBCB 50%, #94E0D9 100%) ;
    color: #ffffff !important;
    background: linear-gradient(to bottom, #272530 0%, #545162 50%, #757585 100%) ;
    text-align: center  !important;
    ion-item{
      background: transparent !important;

    }
    .text-input{
      text-align: center;
    }
    ion-input{
      color: #ffffff !important;
      font-size: xx-large;
      text-align: center  !important;
    }
    .text-input[disabled] {
      opacity: 1.4 !important;
    }
    img{
      height: 100px;
      border-radius: 50%;
      border: solid #ffffff;
      margin-top: 25%;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
