<!--
  Generated template for the FacturePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding class="background-app">
    <div style="border-bottom: solid #ffffff 1px " class="row" *ngIf="defineFacture && !tipTopay">
        <div class="col s6">
            <h2 style="color: red;">Montant Total</h2>
        </div>
        <div  class="col s6">
            <h1 style="color: red; ">{{totale}}</h1>
        </div>
    </div>
    <div  *ngIf="!defineFacture">
        <h2>Entrez Montant Facture</h2>
        <ion-row [class.active]="focus === 'sumToPayTotale'" (touchend)="setFocus('sumToPayTotale')" padding>
            <!--<ion-label>Password</ion-label>-->
            <ion-input type="number" disabled="true" placeholder="Montant à payé"
                       [(ngModel)]="sumToPayTotale"></ion-input>
        </ion-row>
        <button ion-button block (click)="createOrder()" >
            Confirm
        </button>
    </div>
    <div *ngIf="defineFacture">
        <div padding="" *ngIf="!tipTopay">
            <h2>Montant Payé de cette carte</h2>
            <ion-input type="number" disabled="true" placeholder="Montant à payer"
                       [(ngModel)]="sumToPayPartial"></ion-input>

            <button ion-button block (click)="nfcTag()" [disabled]="disabledP">{{textPayScreen}}</button>
        </div>
        <div *ngIf="tipTopay">
            <h2>Pourboir</h2>
            <ion-item padding>
                <ion-input disabled="true" type="number" placeholder="Montant à payer" [(ngModel)]="tip"></ion-input>
            </ion-item>
            <button ion-button block (click)="nfcTagTip()" [disabled]="disabledT">{{textTipScreen}}</button>

            <button ion-button block *ngIf="!done" [disabled]="disabledT" (click)="noTip()" >Continuer</button>
            <button ion-button block *ngIf="done" [disabled]="disabledT" (click)="finish()">Terminer</button>
        </div>

    </div>

    <!--<div >-->
    <!--Montant totale : {{sumToPayTotale}}-->
    <!--</div>-->

    <ion-digit-keyboard
            [align]="keyboardSettings.align"
            [width]="keyboardSettings.width"
            [visible]="keyboardSettings.visible"
            [leftActionOptions]="keyboardSettings.leftActionOptions"
            [rightActionOptions]="keyboardSettings.rightActionOptions"
            [roundButtons]="keyboardSettings.roundButtons"
            [showLetters]="keyboardSettings.showLetters"
            [swipeToHide]="keyboardSettings.swipeToHide"
            [theme]="keyboardSettings.theme"
    ></ion-digit-keyboard>
</ion-content>
