<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="text-align: center;">
  <div style="margin-top: 20%">
  {{this.wlc_txt}}<br>
  Your balance is : {{this.balanceW}}


  <button style="margin-top: 5%" class="btn1" ion-button  block (click)="add()">
    Add
  </button>
  <button ion-button  block (click)="sub()">
    Subtract
  </button>
  </div>
</ion-content>
