page-nfc {
  ion-spinner{

    margin-top: 20%;
    margin-bottom: 10%;
    margin-right: auto;
    margin-left: auto;
  }
  .btn1{
    margin-top: 30%;
  }
  .button{
    margin-top: 10%;
    width:75%;
    margin-left: auto;
    margin-right: auto;
  }
  ion-spinner * {
    width: 28px;
    height: 28px;
    stroke: #444;
    fill: #222;
  }
}
