<!--
  Generated template for the ChoiceWaiterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content  class="background-app">
      <div class="row"  >
        <img (click)="redirectFacture()" src="assets/receive_cash_white.png">
      </div>
      <div class="row">
        <img (click)="redirectCheck()" src="assets/check-mark-in-white.png">
      </div>
</ion-content>
