page-choice-waiter {

  h2{
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
  }
  .button{
    margin-top: 26px;
    //background-color: #3BC2B0 ;
    background-color: #8FB64A ;
    color: #ffffff;

  }
  ion-input{
    border-bottom: solid 1px;
  }
  .background-app {
    //background: linear-gradient(to bottom, #3BC2B0 0%, #64DBCB 50%, #94E0D9 100%) ;
    background: linear-gradient(to bottom, #272530 0%, #545162 50%, #757585 100%) ;
    ion-item{
      background: transparent !important;

    }
    ion-input{
      color: #ffffff;
    }
    img{
      margin-top: 15%;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      border: solid #ffffff;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
