<!--
  Generated template for the CashoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content   class="background-app">
  <div *ngIf="!showSum">
    <div class="row">

      <div class="loader"></div>
    </div>
    <div class="row row-txt">
      <h2>
        Scanner votre carte
      </h2>
    </div>

  </div>
  <div *ngIf="showSum">
    <div class="white">
      <h1>{{sum}}</h1>
    </div>
    <div class="grey">
      <div style="margin-top: 3%" padding-left class="row">
        <div style="margin-top: 3%" padding class="row">
          <div class="col s6"> Bonus</div>
          <div class="col s6"> {{bonusSum}}</div>
        </div>
        <div style="margin-top: 3%" padding-left class="row">
          <div class="col s6"> Date d'expiration</div><br>
          <div class="col s6"> {{expired}}</div>
        </div>
        <div style="margin-top: 3%" padding-left class="row">
          <div class="col s6"> Identificateur</div><br>
          <div class="col s6"> {{realId}}</div>
        </div>
      </div>
      <button  (click)="cashout()"   ion-button  block >Cashout</button>
    </div>
  </div>

</ion-content>
