page-cashout {
  .background-app {
    //background: linear-gradient(to bottom, #3BC2B0 0%, #64DBCB 50%, #94E0D9 100%) ;
    background: linear-gradient(to bottom, #272530 0%, #545162 50%, #757585 100%) ;
    font-size: 2rem;
    color: #ffffff;
    ion-item{
      background: transparent !important;

    }
    ion-input{
      color: #ffffff;
    }
    img{
      margin-top: 15%;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      border: solid #ffffff;
      margin-right: auto;
      margin-left: auto;
    }
    .loader {
      margin-top: 25%;
      border: 16px solid #B6B1AF; /* Light grey */
      border-top: 16px solid #ffffff; /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
      margin-left: auto;
      margin-right: auto;
    }
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    h2{
      margin-left: auto;
      margin-right: auto;
      color: #ffffff;
    }
    .row-txt {
      margin-top: 20%;
    }
    .white{
      background-color: white !important;
      color: #545162 ;
      height:250px;
      h1{
        font-size: 4rem;
      }
    }
    .grey{
      height:350px;
      tbody{
        color: #ffffff
      }
      tr{
        margin-top: 5%;
      }
    }
  }
  .button{
    margin-top: 26px;
    //background-color: #3BC2B0 ;
    background-color: #8FB64A ;
    color: #ffffff;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
