<!--
  Generated template for the ChoiceManagerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>choiceManager</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button block  (click)="redirectRecharge()">Recharge Carte</button>
  <button ion-button block  (click)="redirectAdd()">Ajoute Carte</button>
  <button ion-button block  (click)="redirectCheck()">Check solde</button>
  <button ion-button block  (click)="redirectCheck()">Solde superviseur</button>
</ion-content>
